footer 
    .footer
        div &copy; #{new Date().getFullYear()} #{data.site.creator}
        ul.footer__list
            li
                a(href="/privacy") Privacy
            li
                a(href="/terms") Terms