@media (min-width:600px){
    // body{
    //     display: grid;
    //     grid-template-columns: 1fr 1fr;
    // }
 
 
    .menu__panel{
        margin: 0.5rem;
        display: table;
        &:first-of-type{
            grid-column: 1/2;
        }
        &:last-of-type{
            grid-column: 2/3;
        }
    }

    // //style for tablet
    // .menu{
    //     display: flex;
    //     align-items: stretch;
    //     justify-content: space-between;
    // }

    // .menu__panel{
    //     flex-grow: 1;
    //     height: 100%;
    //     &:first-child{
    //         margin-right: 1rem;
    //     }        
    // }    
}