extend _component/layout/base
block config
    -
        var title="About Quick Blog"
        var description="--One of the fastest and quickest tools for writing a blog--"
block content
    h1=title
    p=description
    