extend _component/layout/base
block config
    -
        var title="About Quick Blog"
        var description="--One of the fastest and quickest tools for writing a blog--"
block content
    .content  
        h2 Features
        ul
            li Achieve 100/100 Google Page Speed Insights score.
            li Load and render on the client is blazing fast, most of the time it happens quicker than you can blink, for real!

            figure.image-container
                img.image(src="/asset/image/performance.jpg")

            li QuickBlog allows you to build HTML pages quickly and painless.
            li It makes use of PUG (former JADE) template language to generate HTML and SASS (SCSS) to power up CSS.
            li It is open source and it derives from 
                a(href="https://github.com/marianzburlea/pug-starter") PUG Starter
                |, enabling faster delivery of HTML & CSS projects to a private server and/or automatic deployment of GitHub pages.
            li JSON to HTML template. You can build a template that applies to multiple JSON files and generates HTML for each of them.