extend _component/layout/base
block config
    -
        var title="Contact Information"
        var description="Contact me, the creator, Raluca Ghintuiala"
block content
    .content
        h1=title
        p Find me on social media!
        ul 
            li
                a(href="https://www.facebook.com/raluca.ghintuiala", title="Click to go on Facebook!") Facebook
            li
                a(href="https://www.linkedin.com", title="Click to go on LinkedIn!") LinkedIn
            li 
                a(href="https://ralucarbc.github.io/my-cv", title="Click to go on my personal website!") Personal website
        figure.image-container
            img.image(src="/asset/image/tips.jpg")
            figcaption.image-caption
                strong Note:
                span Stay focused!


