extend _component/layout/base

block config
    -
        var title= "Welcome to Quick Blog"
        var description= "Use suuuper QuickBlog as it is easy and get 100/100 score from Google pagespeed insights"
block content
    .content
        #continue
        h2 Firstly, let's write some content
        p
            | The sources of Quick Blog can be found on GitHub at 
            | #{" "}
            a(href="https://www.github.com/RalucaRbc/quick-blog", target="_blank") Quick Blog
        blockquote.blockquote
            .blockquote__body
                p "You have to know fear before you achieve success, it's the only way unfortunately"
            .blockquote__footer
                a(href="https://RalucaRbc.github.io/my-cv", target="_blank") Raluca Ghintuiala
        p Don’t let the things you are afraid of—failure, change, adversity, the unknown—stop you from going after the things you want most. Instead, find the courage to do what scares you. Face your fears, and you’ll uncover new and great opportunities. And it will feel good.
        p 
            small “Avoiding danger is no safer in the long run than outright exposure. The fearful are caught as often as the bold.” —Helen Keller
        p
            small “One of the greatest discoveries a man makes, one of his great surprises, is to find he can do what he was afraid he couldn’t do.” —Henry Ford
        a.top(href="#top") 
            span Top
            span.top-arrow
